* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 992px) {
    
    .container {
        max-width: 960px;
    }
}

.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

img {
    vertical-align: middle;
    border-style: none;
}