/* RESET */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

/* LOGO */
.logo {
    margin: 10px;
    font-size: 0;
    width: 200px;
    height: 80px;
    background: url('../images/logo.png');
    background-size: cover;
}


/* MENU */
.menu {
    position: relative;
    background: #f96938;
}

.menu ul {
    display: flex;
    margin: 0;
}
.menu__item {
    padding: 5px 0;
    list-style: none;
}
.menu__item a {
    display: block;
    padding: 5px 15px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #eee;
    transition: .5s;
    border-bottom: 1px solid #f96938;
}

.menu__item a:hover {
    border-bottom: 1px solid #fff;
}

.menu__btn-login {
    outline: 0;
    text-decoration: none;
    display: block;
    position: absolute;
    top: 6px;
    right: 50px;
    width: 85px;
    height: 28px;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 50px;
    line-height: 25px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    transition: .5s;
}

.menu__btn-login:hover {
    border-color: #f96938;
    background-color: #ddd;
    color: #f96938;
}

.title {
    color: #f96938;
}

/* CONTENT */
.content {
    padding-right: 15px;
    padding-left: 15px;
    margin: 50px auto;
    max-width: 960px;
}

.content--home {
    margin: 150px auto;
}

/* FOOTER */
.footer {
    background: #f96938;
}
.footer p {
    padding: 15px 0;
    font-size: 16px;
    text-align: center;
    color: #eee;
}
