/* RESET */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

/* LOGO */
.logo {
    margin: 10px;
    font-size: 0;
    width: 200px;
    height: 80px;
    background: url('../images/logo.png');
    background-size: cover;
    /* https://drive.google.com/drive/folders/1DX5xqVQnX9j23ZxZVJW-dFyLDRigeCJv */
}


/* MENU */
.menu {
    position: relative;
}

.menu ul {
    display: flex;
    margin: 0;
    background: #666;
}
.menu__item {
    padding: 5px 0;
    list-style: none;
    /* text-transform: uppercase; */
}
.menu__item a {
    display: block;
    /* padding: 5px 10px; */
    padding: 5px 15px;
    /* border-left: 1px solid #777; */
    /* font-size: 12px; */
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #eee;
    transition: .5s;
}

.menu__btn-login {
    outline: 0;
    text-decoration: none;
    display: block;
    position: absolute;
    top: 6px;
    right: 50px;
    width: 85px;
    height: 28px;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 50px;
    line-height: 25px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    transition: .5s;
}

.menu__btn-login:hover {
    border-color: #666;
    background-color: #ddd;
    color: #666;
}

/* FOOTER */
.footer {
    background: #666;
}
.footer p {
    padding: 15px 0;
    font-size: 16px;
    text-align: center;
    color: #eee;
}
