/* RESET */
body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif
}

/* LOGO */
.logo {
    margin: 10px;
}


/* MENU */
.menu ul {
    display: flex;
    background: #666;
}
.menu__item {
    padding: 5px 0;
    list-style: none;
    text-transform: uppercase;
}
.menu__item a {
    display: block;
    padding: 5px 10px;
    border-left: 1px solid #777;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    color: #eee;
    transition: .5s;
}

/* BANNER */
.banner {
    background: #666;
    height: 500px;
}
.banner h3 {
    padding: 50px;
    font-size: 50px;
    text-align: center;
    color: #eee;
}

/* FOOTER */
.footer {
    background: #666;
}
.footer p {
    padding: 15px 0;
    font-size: 16px;
    text-align: center;
    color: #eee;
}
